<%inner_body="HELLO MARTIANS"%>
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<style>
a {
  font-size: 20px
}
.pointer{
  cursor: pointer;
  opacity: 1
}
.pointer:hover{
  opacity: 0.78
}
</style>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
</head>
<body>
<%=inner_body%>
</body>
</html>
